* {
    /*box-sizing: border-box;*/
    margin: 0;
    padding: 0;
}

/* Inicio de Style*/

a{
    display: inline-block;
}


.header {
    
    padding-top: 10px;
    padding-bottom: 10px;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
}

.header2 {
    background-color: black;
    padding-top: 10px;
    padding-bottom: 10px;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
}

.bloque-inicio2 {
    display: none;
}

.container {
    width: 100%;
    padding: 0 15px 0 15px;
    margin: 10px auto;    
}

header .nav-1 {
    display: inline-block;
    vertical-align:middle;
    margin-left: 67%;
}

.icono, h3 {
    font-size: 25px;
    display: inline-block;
    vertical-align: middle;
    color: greenyellow;
}

.header .c-buscar{
    display: none;
}

.header2 .c-buscar {
    display: inline-block;
    justify-content: center;
    align-items: center;
    background: white;
    padding: 10px;
    height: 15px;
    border-radius: 30px;
    position: absolute;
    left: 150px;
}

.c-buscar-texto {
    border: none;
    background: white;
    outline: none;
    font-size: 15px;
    float: left;
    width: 400px;
    line-height: 15px;

}

.c-buscar-boton {
    width: 25px;
    height: 25px;
    text-decoration: none;
    color: green;
    font-size: 20px;
}

nav a {
    font-size: 16px;
    margin-left: 7.5px;
    margin-right: 7.5px;
    color: white;
    text-decoration: none;
    letter-spacing: 1px;
    word-spacing: 5px;
}

nav button {
    width: 80px;
    font-size: 18px;
    background-color: greenyellow
}
 

.bloque-inicio .container {
    width: 550px;
    text-align: left;
    
    position: absolute;
    top: 160px;
    left: 500px;
}

h1{
    font-size: 30px;
    padding: 10px;
    color: green;
}

.buscar {
    display: flex;
    justify-content: center;
    align-items: center;
    background: white;
    width: 450px;
    padding: 10px;
    height: 30px;
    border-radius: 40px;
}

.buscar-texto {
    border: none;
    background: none;
    outline: none;
    font-size: 20px;
    float: left;
    line-height: 60px;
    width: 500px;
}

.buscar-boton {
    width: 30px;
    height: 30px;
    text-decoration: none;
    color: green;
    font-size: 30px;
    
}

::placeholder {
    font-size: medium;    
}

p {
    font-size: 15px;
    padding: 10px;
    color: green;
}

.img-inicio {
    width: 100%;
    height: 500px;
}

.nav-2 {
    background-color: white;
    padding: 20px;
    padding-bottom: 0px;
    text-align: center;
}

.nav-2 a {
    font-size: 18px;
    margin-left: 10.5px;
    margin-right: 10.5px;
    color: black;
}

.galeria {
    margin: 20px 100px;
}

.opciones {
    padding: 30px 0;
    vertical-align: middle;
}
.t-galeria {
    font-size: 20px;
    float: left;
}

.o-galeria {
    font-size: small;
    border-style: none;
    float: right;
}

.pack {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    height: 300vh;
    width: 83vw;
    margin: auto;
}

.pack img {
    width: 32%;
    padding: 5px;
    align-self: flex-start;
}

